* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgoldenrodyellow;
}

.logo {
    width: 100vw;
}

.authentificationform {
}
.authentificationform label {
    width: 150px;
}
.authentificationform form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilePic {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid white;
}
