/* GENERAL SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    color: black;
}
body {
    background-color: white;
}
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a:hover {
    color: #3592c5;
}
p {
    font-size: 0.9rem;
}
h1 {
    font-family: "Exo", sans-serif;
    font-size: 1.2rem;
}
q {
    quotes: "«" "»" "‹" "›";
}
::selection {
    background-color: #c4e7ea;
    color: #3592c5;
    text-shadow: 1px 1px white;
}
.flex {
    display: flex;
}
textarea {
    border: 1px solid black;
    border-radius: 3px;
}
label {
    font-size: 0.8rem;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    padding: 10px;
}
.bolder {
    font-weight: bolder;
}

.friendStatusLabel {
    color: black;
    font-weight: 400;
}
/* TOOL TIPS */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    display: none;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    font-size: 0.8rem;
    padding: 5px 10px;
    /* Position the tooltip */
    position: absolute;
    top: 40px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    display: block;
}
/* COLORS */
.white {
    color: white;
}
.black {
    color: black;
}
/* WELCOME // AUTHENTIFICATION */
.welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.vcenter {
    display: contents;
}

/* LINKS & ICONS */
a,
a:hover,
a:active,
a:visited {
    color: pink;
    text-decoration: none;
    font-size: 0.5rem;
}
.material-icons {
    width: 50px;
}

/* BUTTONS */

button {
    color: #3592c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    /* width: 150px;
    height: 50px; */
}
.hideLabel {
    display: none;
}
.hideButton {
    visibility: hidden;
}
.buttonsWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}
.buttonsWrapper span {
    margin: auto;
    color: white;
}

.btnPadding {
    padding: 10px 30px;
}
.editButton {
    padding: 10px;
}
.smallBtn {
    background-color: white;
    margin: 10px;
    display: flex;
}
.smallBtn span {
    text-align: right;
}
.smallBtn span i,
span span {
    margin: auto;
    color: black;
}
.bioeditorButtons {
    display: flex;
    justify-content: space-around;
}
.selectedBtn {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}
.selectedBtn span {
    color: #3592c5;
    font-weight: 800;
}
.selectedBtn span i {
    color: #3592c5;
    /* font-weight: 800; */
}

.friendButtonsWrapper {
    display: flex;
    justify-content: space-between;
}

/* HEADER LOGO */
header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #c4e7ea;
    top: 0;
    z-index: 20;
}
.logo {
    max-height: 10vh;
    margin: 10px;
}
/* MAINCONTENT SECTION*/
.mainContent {
    flex: 1;
}
/* FOOTER */
footer {
    height: 100px;
    display: flex;
    justify-content: center;
    padding-block-start: 5px;
    background-color: #c4e7ea;
}
/* AVATAR & PROFILE */

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar:hover {
    cursor: pointer;
}

.miniAvatar {
    width: 30px;
    height: 30px;
}

.smallProfilePic {
    object-fit: cover;
    width: 30px;
    height: 30px;
}
.profilePicWrapper {
}
.profileWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bigProfilePic {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}
.bioContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    max-width: 500px;
}
.mutualFriendsList ul {
    list-style: none;
}
.mutualFriendsList ul li {
    display: flex;
    align-items: center;
}
.mutualFriendsList p {
    padding-block-end: 20px;
}
/* PhotoPicker */

.photoPickerWrapper {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photoPickerFrame {
    width: 50px;
    height: 50px;
    margin-inline: 5px;
}
.photoPickerFrame img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.photoPickerControls {
    width: 30px;
    display: flex;
    justify-content: center;
}

/* RADIO BUTTON */

.customRadioBtn {
    display: flex;
    justify-content: center;
}

/* NAV */
nav {
    width: 100vw;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    z-index: 10;
}
nav button i,
nav button span {
    color: white;
}

/* AUTHENTIFICATION */
.authentificationWrapper {
    text-align: center;
    width: 100%;
}
.authentificationWrapper label {
    max-width: 400px;
    width: 60%;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.authentificationWrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* UPLOADER */

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(53, 146, 197, 0.5);
    z-index: 20;
}
.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
    color: black;
    background: none;
    border: none;
    font-size: 26pt;
}
.uploadSection {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 30px 0;
}
input[type="file"] {
    display: none;
}
.file-upload {
    border: 1px solid black;
    background: black;
    color: white;
    margin: 10px 0;
    display: flex;
    width: 300px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
}
.file-upload span {
    margin: auto;
    color: white;
}

.picUploadIcon {
}

/* LIGHTBOX */

.lightbox img {
    max-width: 90vw;
}

/* LOGOUT */
.logoutComponent {
    display: flex;
    justify-content: space-between;
}

/* Search */

.searchProfile {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.searchBox {
    display: flex;
    border: 1px solid grey;
    width: 300px;
    border-radius: 3px;
    background-color: white;
}
.searchBox input {
    border: none;
}
.searchBox button {
    display: flex;
    margin: auto;
    text-align: end;
    padding-right: 20px;
    margin-right: 0;
}

.searchResults {
    margin: 0 auto;
    padding: 0 10px;
    flex: 1;
}
.searchResults > p {
    text-align: center;
}

.searchResults li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.searchResultDetails {
    margin-left: 20px;
    flex: 1;
}

/* CHAT */
.chatWrapper {
    width: 100vw;
}
.chatWrapper ul {
    width: 90%;
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.singleMessage {
}
.messageWrapper {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.messageWrapper div div {
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 10px 15px;
}

.messageWrapperSelf {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.messageWrapperSelf div div {
    border-radius: 3px;
    background-color: #3592c5;
    padding: 10px 15px;
}
.messageWrapperSelf.p {
    text-align: end;
    font-weight: bold;
}

.chatImg {
    padding-right: 20px;
}
.chatImgSelf {
    padding-left: 20px;
}
.chatImg img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.chatImgSelf img {
    border: 3px solid #3592c5;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.chatFormWrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-block-end: 20px;
    position: sticky;
    bottom: 60px;
}

.chatFormWrapper form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chatFormWrapper form textarea {
    margin: 0 auto;
    width: 90%;
}

.chatauthor {
    font-weight: bolder;
    font-size: 1rem;
}
.chatauthorSelf {
    color: white;
    text-align: end;
    font-size: 1rem;
}
.chatmsg {
    font-size: 0.9rem;
}
.chatmsgSelf {
    font-size: 0.9rem;
    color: white;
}
.timestamp {
    font-size: 0.7rem;
    text-align: end;
}

@media only screen and (min-width: 480px) {
    body {
        /* background-color: cadetblue; */
    }
    header {
        background-color: #c4e7ea;
    }
    .searchResults {
        width: 80vw;
        max-width: 720px;
    }
    .searchResults ul li {
        width: 100%;
    }
    .chatWrapper {
    }
}

@media only screen and (min-width: 768px) {
    body {
        /* background-color: pink; */
    }

    header {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        top: 0;
        z-index: 20;
        position: relative;
    }
    .logo {
        max-height: 20vh;
        margin: 0;
    }
    .smallProfilePic {
        position: absolute;
        top: 5px;
        right: 60px;
        width: 120px !important;
        height: 120px !important;
        border: 5px solid white;
        background-color: white;
    }
    .avatar {
        width: 100px;
        height: 100px;
    }
    .miniAvatar {
        width: 50px;
        height: 50px;
    }
    nav {
        position: sticky;
        top: 0;
        justify-content: flex-start;
    }
    .hideLabel {
        margin: 0 20px;
        display: block;
        font-size: 0.8rem;
    }
    .searchResults {
        width: 60vw;
        max-width: 720px;
    }
    .searchResults ul li {
        width: 100%;
    }
    .profileWrapper {
        flex-direction: row;
        padding: 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .profileBannerWrapper {
        width: 200px;
        height: 200px;
        border-radius: 3px;
        overflow: hidden;
        flex-shrink: 0;
    }
    .profileBannerWrapper img {
        width: 100%;
        height: 100%;
        object-position: 50%;
    }
    .profileBannerWrapper img:hover {
        cursor: zoom-in;
    }
    .bioContent {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }
    .vcenter {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .friendsAndPendingList {
        width: 90vw;
        max-width: 100%;
    }

    .friendsAndPendingList ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .friendsAndPendingList ul li {
        width: 45%;
    }
    .chatWrapper {
    }
    .chatWrapper ul {
        max-width: 700px;
    }
    .mutualFriendsList {
        flex-shrink: 0;
        margin-top: 40px;
    }

    /* PhotoPicker */

    .photoPickerWrapper {
        max-width: 600px;
        justify-content: center;
    }
    .photoPickerFrame {
        width: 120px;
        height: 120px;
        margin-inline: 5px;
    }
    .photoPickerFrame img {
        width: 120px;
        height: 120px;
        object-fit: cover;
    }
    .photoPickerControls {
        width: 30px;
        display: flex;
        justify-content: center;
    }
    .friendButtonsWrapper {
        width: 400px;
    }
    .potatoButton {
        width: 210px;
    }
    .potatoCountMargin {
        padding-inline-end: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        /* background-color: wheat; */
    }
}
